#owlogo {
         height:40px;
         width:40px;
}

#head {
         background-color: lightgray;
}

#headform {
        padding-top: 30px;
}

p {
    height: 22px;
}

a {
    text-decoration: none;
}

a:focus {
    outline: 0;
}

body {
    background-image: url(images/test.png);
}

